.cart{
    background-color: white;
    width: 60%;
    height: 300px;
    margin-left: 12rem;
   padding-left: 54px;
   padding-top: 5px;
   border-radius: 21px;
   position: fixed;
   top: 12rem;
   right: 3rem;
   z-index: 12;
   overflow: scroll;
  
}
.cart-name div{

   font-family: monospace;
    display: flex;

}
.amount-cart-div{
    display: flex;
    justify-content: space-between;
}
.cart-amount{
    margin-top: 1rem;
    font-weight: 800;
}
.amount{
    font-weight: 1000;
margin-right: 7rem;
}

.cart-button button{

font-weight: bold;
font-family: monospace;
height: 32px;
width: 82px;
border-radius: 15px;
margin-right:1rem;


}


.order-button{
    border: solid 1px red;
    color: white;
     margin-left: 12px;
    background-color: rgb(144, 18, 18);
}
.close-button{
    margin-left:12rem ;
    border: solid 1px;
   color: rgb(180, 50, 50);
    background-color: rgb(242, 246, 246);
}

.sucess{
 background-color: white;
    width: 40%;
    height: 100px;
    margin-left: 12rem;
   padding-left: 54px;
   padding-top: 5px;
   border-radius: 21px;
   position: fixed;
   top: 12rem;
   right: 3rem;
   z-index: 12;
   overflow: scroll;
}
.sendingData{
background-color: rgb(245, 229, 229);
    width: 40%;
    height: 100px;
    margin-left: 12rem;
   padding-left: 54px;
   padding-top: 5px;
   border-radius: 21px;
   position: fixed;
   top: 12rem;
   right: 3rem;
   z-index: 12;
   overflow: scroll;
}
.sucess-btn{
    
    border: solid 1px;
   color: rgb(180, 50, 50);
  border-radius: 21px;
   position: fixed;
   top: 17rem;
   right: 8rem;
    z-index: 12;
  
}