header{
    background-color: rgb(117, 10, 10);
    color: white;
    display: flex;
    justify-content: space-between;
    
}
.header-button{
  width: 60px;
  height: 30px;
  margin: 20px;
 
}
.header-images{
    width: 100%;
    height: 170px;
}